body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    color: #F9FAF8;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.hero {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 100%;
    padding: 24px;
}

.hero-content {
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.hero-image {
    width: 300px;
    height: 200px;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    margin: 0;
}

button {
    height: 40px;
    width: 120px;
    background-color: #3882F6;
    padding: 8px 28px;
    color: white;
    font-weight: bold;
    border-radius: 8px;
}

h3 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 100%;
    padding: 12px;
}

.info-images {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    padding-bottom: 24px;
}

.img {
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

.img-block {
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 100%;
    padding: 32px;
    margin-top: 64px;
}

.quote-text {
    height: 200px;
    width: 600px;
    font-size: 32px;
    font-style: italic;
    color: #1F2937;
}

.quote-name {
    width: 500px;
    align-self: flex-end;
    font-weight: bold;
}

.sign-up {
    display: flex;
}

.footer {
    display: flex;
}